body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

h1 {
    background-color: #dadada;
    text-align: center;
    font-size: xx-large;
    margin: -8px -8px 5px -8px;
    padding: 30px 10px 30px 10px;
    border-bottom: 1px solid #5c5858;
    box-shadow: 0 0 10px 5px rgb(102, 102, 102);
}

p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

legend {
    text-align: center;
    margin: 0rem 1rem 1rem 1rem;
    font-size: 2rem;
    font-weight: bold;
}

section + section {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: 550;
}

input[type="text"] {
    width: 99%;
    margin-bottom: 1.5rem;
    font-size: large;
}

input[type="number"] {
    width: 20%;
    margin-bottom: 1.5rem;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

form button {
    margin: 0rem 1rem 0rem 1rem;
    width: 5rem;
    height: 1.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

form button:hover {
    cursor: pointer;
    background-color: #dadada;
}

#button-container {
    display: flex;
    justify-content: center;
}

#library-container {
    display: flex;
    flex-wrap: wrap;
}

#form-container {
    max-width: 40%;
    overflow: auto;
    font-size: 1.25rem;
    border: none;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0);
    border-radius: 5px;
}

#form-container::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.add-book,
.delete-all {
    margin: 2rem 5rem 2rem 5rem;
    border: 1px solid black;
    border-radius: 5px;
    height: 3rem;
    width: 10rem;
    background-color: black;
    color: #dadada;
    font-size: 1.4rem;
    transition: all 0.2s ease;
}

.add-book:hover,
.delete-all:hover {
    background-color: #dadada;
    color: black;
    cursor: pointer;
}

.book-card {
    width: 8.27rem;
    height: 7rem;
    position: relative;
    background-color: #dadada;
    font-size: 12.4px;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

.book-card:hover {
    transform: scale(1.1);
}

.close-button {
    background-color: #dadada;
    color: rgb(128, 128, 128);
    border: none;
    font-size: 12.3px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all 0.2s ease;
    font-size: 1rem;
}

.close-button:hover {
    color: black;
    transform: scale(1.4);
    cursor: pointer;
}

.read-status {
    position: absolute;
    left: 30%;
    width: 4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .form-cancel {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */
    
/* .form-cancel:hover {
    color: black;
    cursor: pointer;
} */

/* .circle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.2s ease;
}

.circle-button:hover {
    transform: scale(1.2);
} */